

.main-container{
display: flex;
flex-direction: column;
justify-content: center;
/* align-items: center; */
/* align-self: center; */
/* align-content: center; */
margin-right: 30px;
}
.Topics{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgb(227, 236, 100);
  margin-top: 20px;

}
.subtopics{
 display: block;
  width: 100%;
  height: 140px;
  background-color: #61dafb;
  margin-top: 20px;
  
}
.Topic-container{
  display: flex;
}
.course-detail{
  color: black;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  background-color: rgb(98, 173, 63);
}
.ppt-link a{
  display: block;
  width: 1226px;
  height: 30px;
  color: rgb(219, 51, 9);
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
  padding: 7px 0;
}
.ppt-link{
  margin-top: 20px;
  width: 100px;
  height: 30px;
}
